/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';
// utils
@import './utils/variables';

// base styles
@import './base/fonts';
@import './utils/variables';
@import './base/container';
@import './base/common';

// components styles
@import './components/scroll-up';

// layout styles
@import './layouts/footer';
@import './layouts/body';
@import './layouts/event-grid';
@import './layouts/search-fields';
@import './layouts/header';
// @import './layouts/modal-event.scss';
