@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
:root {
  --accent-color: #dc56c5;
  --modal-accent-color: #4c00fe;
  --modal-bcg-color: #fff2fd;
  --main-font: 'Montserrat', sans-serif;
  --main-text-color: #ffffff;
  --secondary-color: #dc56c5;
  --input-placeholder-text-color: #939393;
  --input-text-color: #cccccc;
  --modal-text-color: #0e0e0e;
  --input-bg-color: rgba(255, 255, 255, 0.2);
  --main-bg-color: rgba(11, 11, 11, 0.5);
  --transition-delay: 200ms;
  --transition-cube-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v18-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-regular.woff") format("woff"), url("../fonts/montserrat-v18-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v18-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v18-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-500.woff") format("woff"), url("../fonts/montserrat-v18-latin-500.ttf") format("truetype"), url("../fonts/montserrat-v18-latin-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v18-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-600.woff") format("woff"), url("../fonts/montserrat-v18-latin-600.ttf") format("truetype"), url("../fonts/montserrat-v18-latin-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v18-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-700.woff") format("woff"), url("../fonts/montserrat-v18-latin-700.ttf") format("truetype"), url("../fonts/montserrat-v18-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/montserrat-v18-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin-900.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-900.woff") format("woff"), url("../fonts/montserrat-v18-latin-900.ttf") format("truetype"), url("../fonts/montserrat-v18-latin-900.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

:root {
  --accent-color: #dc56c5;
  --modal-accent-color: #4c00fe;
  --modal-bcg-color: #fff2fd;
  --main-font: 'Montserrat', sans-serif;
  --main-text-color: #ffffff;
  --secondary-color: #dc56c5;
  --input-placeholder-text-color: #939393;
  --input-text-color: #cccccc;
  --modal-text-color: #0e0e0e;
  --input-bg-color: rgba(255, 255, 255, 0.2);
  --main-bg-color: rgba(11, 11, 11, 0.5);
  --transition-delay: 200ms;
  --transition-cube-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 286px;
    padding-top: 50px;
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 630px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1000px;
    padding-right: 35px;
    padding-left: 35px;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

img {
  display: block;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(32, 13, 29, 0.6);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 400ms var(--transition-cube-function);
  transition: all 400ms var(--transition-cube-function);
}

.modal {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 400ms var(--transition-cube-function);
  transition: all 400ms var(--transition-cube-function);
  width: 85%;
  max-width: 270px;
  max-height: 915px;
  background: #fff2fd;
  border-radius: 150px 0px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 595px;
    max-height: 830px;
    padding: 25px 15px 50px 50px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 930px;
    max-height: 1200px;
    padding: 60px 30px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.scroll-up {
  position: fixed;
  right: 10px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  visibility: hidden;
  border-radius: 40% 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 1000;
}

@media screen and (min-width: 768px) {
  .scroll-up {
    right: 30px;
    bottom: 30px;
  }
}

.scroll-up::before {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 40px;
  content: '';
}

.scroll-up--active {
  visibility: visible;
}

.scroll-up:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-box-shadow: 0px 0px 5px 4px rgba(220, 86, 197, 0.5);
  box-shadow: 0px 0px 5px 4px rgba(220, 86, 197, 0.5);
}

.scroll-up__svg-path {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  fill: #0e0e0e;
  stroke: #ff0dbf;
  stroke-width: 0.5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  stroke-linecap: square;
}

.scroll-up__svg-arrow {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 17%;
  left: 17%;
  fill: #dc56c5;
  opacity: 0.8;
}

.scroll-up__svg-arrow:hover {
  opacity: 1;
}

.header-title {
  text-shadow: 1px 1px 3px rgba(255, 13, 190, 0.795), -1px 1px 3px rgba(255, 13, 190, 0.548), 0 -15px 70px, 0 0 0.01em #dc56c5, 0 10px 3px #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-title b span {
  -webkit-animation: blink linear infinite 2s;
          animation: blink linear infinite 2s;
}

.header-title b span:nth-of-type(2) {
  -webkit-animation: blink linear infinite 3s;
          animation: blink linear infinite 3s;
}

@-webkit-keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  95% {
    color: #333;
    text-shadow: none;
  }
  100% {
    color: inherit;
    text-shadow: inherit;
  }
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  95% {
    color: #333;
    text-shadow: none;
  }
  100% {
    color: inherit;
    text-shadow: inherit;
  }
}

.modal {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 400ms var(--transition-cube-function);
  transition: all 400ms var(--transition-cube-function);
  width: 85%;
  max-width: 270px;
  max-height: 915px;
  background: #fff2fd;
  border-radius: 150px 0px;
}

.event__img--circle {
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media screen and (max-width: 767.98px) {
  .event__img--circle {
    width: 102px;
    height: 102px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .event__img--circle {
    width: 70px;
    height: 70px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .event__img--circle {
    width: 132px;
    height: 132px;
  }
}

.event-wrap {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .event-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 45px;
  }
}

.event__img-wrap {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (max-width: 767.98px) {
  .event__img-wrap {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .event__img-wrap {
    width: 233px;
    height: 416px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .event__img-wrap {
    width: 360px;
    height: 641px;
    margin-right: 60px;
  }
}

.event__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767.98px) {
  .event__img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .event__img {
    width: 233px;
    height: 416px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .event__img {
    width: 360px;
    height: 641px;
    margin-right: 60px;
  }
}

.event__text-content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .event__text-content {
    text-align: left;
  }
}

.event__info-item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .event__info-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.event__subtitle {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--accent-color);
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (min-width: 1280px) {
  .event__subtitle {
    font-size: 24px;
    margin-bottom: 7px;
  }
}

.event__text {
  color: var(--modal-text-color);
  font-size: 16px;
  line-height: 1.25;
  text-transform: capitalize;
}

@media screen and (min-width: 1280px) {
  .event__text {
    font-size: 18px;
    line-height: 1.22;
  }
}

.event__text--first-string {
  margin-bottom: 3px;
}

@media screen and (min-width: 1280px) {
  .event__text--first-string {
    margin-bottom: 5px;
  }
}

.event__price-icon {
  display: inline-block;
  fill: var(--modal-text-color);
}

@media screen and (max-width: 1279.98px) {
  .event__price-icon {
    width: 24px;
    height: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .event__price-icon {
    width: 30px;
    height: 20px;
  }
}

.button {
  height: 40px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 5px;
}

.event__link {
  display: block;
  width: 145px;
  background-color: var(--modal-accent-color);
  color: #ffffff;
  border: transparent;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
}

.modal__btn-more {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  min-width: 230px;
  background-color: transparent;
  color: var(--modal-accent-color);
  border: solid 1px var(--modal-accent-color);
}

@media screen and (min-width: 768px) {
  .modal__btn-more {
    width: 255px;
    border-color: var(--accent-color);
  }
}

@media screen and (min-width: 1280px) {
  .modal__btn-more {
    border-color: var(--modal-accent-color);
  }
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 60px 34px 27px 34px;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    padding: 60px 0 18px 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-wrapper {
    padding: 80px 0 19px 0;
  }
}

.footer-content {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #939393;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer-content {
    font-size: 16px;
    line-height: 1.25;
  }
}

.line {
  margin-left: 7px;
  margin-right: 7px;
}

@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  40% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  60% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  40% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  60% {
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
  }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
}

.footer-heart {
  color: #ff0dbf;
  -webkit-animation: heartbeat 1s infinite;
          animation: heartbeat 1s infinite;
  display: inline-block;
  margin: 0 5px 0 5px;
}

.btn-animate {
  cursor: pointer;
  background-color: Transparent;
  border-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.btn-animate:hover {
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
  color: rgba(255, 13, 190, 0.884);
  text-shadow: 3px 3px 5px rgba(220, 86, 197, 0.5);
}

.body {
  font-family: var(--main-font);
  background-image: url("../images/body-bg/noise-body.png");
  background-color: #0e0e0e;
}

.bg {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 1280px) {
  .bg {
    width: 1280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .bg {
    width: 768px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767.98px) {
  .bg {
    width: 320px;
  }
}

.events {
  margin-top: 100px;
  position: relative;
  z-index: 10;
}

.events__list {
  display: -ms-grid;
  display: grid;
}

@media screen and (max-width: 767.98px) {
  .events__list {
    -ms-grid-columns: (128px)[2];
        grid-template-columns: repeat(2, 128px);
    -webkit-column-gap: 15px;
            column-gap: 15px;
    row-gap: 40px;
  }
}

@media screen and (min-width: 768px) {
  .events__list {
    -ms-grid-columns: (180px)[3];
        grid-template-columns: repeat(3, 180px);
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .events__list {
    -ms-grid-columns: (180px)[4];
        grid-template-columns: repeat(4, 180px);
    -webkit-column-gap: 70px;
            column-gap: 70px;
    row-gap: 65px;
  }
}

.events__item {
  position: relative;
  -webkit-animation: 2000ms fadeIn;
          animation: 2000ms fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
    -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.events__item:hover, .events__item:focus {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.events__item::after {
  content: '';
  position: absolute;
  z-index: 10;
  border: 1px solid rgba(220, 86, 197, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px 0px;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .events__item::after {
    width: 153px;
    height: 143px;
    top: -13px;
    right: -14px;
  }
}

@media screen and (max-width: 767.98px) {
  .events__item::after {
    width: 108px;
    height: 101px;
    top: -10px;
    right: -10px;
  }
}

.events__image-wrap {
  background-color: #cabbbb;
  border-radius: 50px 0px;
  overflow: hidden;
}

@media screen and (min-width: 320px) {
  .events__image-wrap {
    height: 161px;
  }
  .events__image-wrap:hover, .events__image-wrap:focus {
    -webkit-box-shadow: 2px 2px 8px 4px rgba(220, 86, 197, 0.5);
            box-shadow: 2px 2px 8px 4px rgba(220, 86, 197, 0.5);
  }
}

@media screen and (min-width: 768px) {
  .events__image-wrap {
    height: 227px;
  }
  .events__image-wrap:hover, .events__image-wrap:focus {
    -webkit-box-shadow: 3px 3px 8px 5px rgba(220, 86, 197, 0.5);
            box-shadow: 3px 3px 8px 5px rgba(220, 86, 197, 0.5);
  }
}

.events__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.events__descr {
  text-align: center;
  padding-top: 5px;
}

.events__name {
  font-weight: 700;
  color: var(--accent-color);
  margin-bottom: 5px;
}

@media screen and (max-width: 767.98px) {
  .events__name {
    font-size: 14px;
    line-height: 1.214;
  }
}

@media screen and (min-width: 768px) {
  .events__name {
    font-size: 16px;
    line-height: 1.25;
  }
}

.events__date {
  color: var(--main-text-color);
  margin-bottom: 5px;
}

@media screen and (max-width: 767.98px) {
  .events__date {
    font-size: 14px;
    line-height: 1.214;
  }
}

@media screen and (min-width: 768px) {
  .events__date {
    font-size: 16px;
    line-height: 1.25;
  }
}

.events__location {
  color: var(--main-text-color);
  font-weight: 600;
}

@media screen and (max-width: 767.98px) {
  .events__location {
    font-size: 12px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 768px) {
  .events__location {
    font-size: 14px;
    line-height: 1.214;
  }
}

.events__location-icon {
  color: var(--main-text-color);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.search-event {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .search-event {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.search-event::-webkit-input-placeholder,
.select__current {
  color: var(--input-placeholder-text-color);
}

.search-event:-ms-input-placeholder,
.select__current {
  color: var(--input-placeholder-text-color);
}

.search-event::-ms-input-placeholder,
.select__current {
  color: var(--input-placeholder-text-color);
}

.search-event::placeholder,
.select__current {
  color: var(--input-placeholder-text-color);
}

.select {
  width: 270px;
  height: 40px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px 30px;
}

.select.open {
  border-radius: 20px 20px 0 0;
}

.select.open .select__body {
  display: block;
  border-radius: 0 0 20px 20px;
}

.select__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select__current {
  display: block;
}

.select__body {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--input-bg-color);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: none;
  padding-top: 6px;
  text-align: left;
}

.select__body::-webkit-scrollbar {
  width: 4px;
}

.select__body:webkit-scrollbar-track {
  border-radius: 20px;
}

.select__body::-webkit-scrollbar-thumb {
  background: var(--input-placeholder-text-color);
  border-radius: 20px;
}

.select__list {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.select__icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 15px;
  height: 10px;
  text-align: center;
  margin: auto 0;
}

.select__icon.open {
  background-image: url("../images/svg/open.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.select__icon.close {
  background-image: url("../images/svg/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.select__item {
  color: var(--input-text-color);
  margin-bottom: 2px;
  -webkit-backdrop-filter: inherit;
          backdrop-filter: inherit;
  padding-left: 30px;
}

.select__item:hover, .select__item.selected {
  background-color: var(--secondary-color);
  color: var(--main-text-color);
  -webkit-transition: var(--transition-delay) background-color var(--transition-cube-function);
  transition: var(--transition-delay) background-color var(--transition-cube-function);
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  max-width: 1280px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, black)), url("../images/background-mobile/bg-m.jpg"), url("../images/body-bg/noise-body.png");
  background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 50%), url("../images/background-mobile/bg-m.jpg"), url("../images/body-bg/noise-body.png");
  height: 364px;
  background-position: top center, bottom center, center center;
  background-repeat: no-repeat;
  background-size: cover, 767.98px 100px, cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .head {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, black)), url("../images/background-mobile/bg-m@2x.jpg");
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 50%), url("../images/background-mobile/bg-m@2x.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .head {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, black)), url("../images/background-tablet/bg-t.jpg");
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 50%), url("../images/background-tablet/bg-t.jpg");
    height: 364px;
    background-position: top center, bottom center, center center;
    background-repeat: no-repeat;
    background-size: cover, 1279.98px 100px, cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1279.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1279.98px) and (min-resolution: 2dppx) {
  .head {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, black)), url("../images/background-tablet/bg-t@2x.jpg");
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 50%), url("../images/background-tablet/bg-t@2x.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .head {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0.2)), to(rgba(11, 11, 11, 0.2))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, black)), url("../images/background-desktop/bg-d.jpg");
    background: linear-gradient(rgba(11, 11, 11, 0.2), rgba(11, 11, 11, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 50%), url("../images/background-desktop/bg-d.jpg");
    height: 446px;
    background-position: top center, bottom center, center center;
    background-repeat: no-repeat;
    background-size: cover, 1280px 100px, cover;
    -webkit-box-shadow: 0px 0px 67px 59px rgba(0, 0, 0, 0.82) inset, 0px 0px 60px 31px rgba(0, 0, 0, 0.7);
            box-shadow: 0px 0px 67px 59px rgba(0, 0, 0, 0.82) inset, 0px 0px 60px 31px rgba(0, 0, 0, 0.7);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .head {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0.5)), to(rgba(11, 11, 11, 0.5))), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(50%, black)), url("../images/background-desktop/bg-d@2x.jpg");
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(11, 11, 11, 0.5)), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 50%), url("../images/background-desktop/bg-d@2x.jpg");
  }
}

.box-blur {
  border-radius: 50%;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: -webkit-gradient(linear, left top, right top, color-stop(10.75%, rgba(196, 196, 196, 0.03)), color-stop(92.33%, rgba(196, 196, 196, 0)));
  background: linear-gradient(90deg, rgba(196, 196, 196, 0.03) 10.75%, rgba(196, 196, 196, 0) 92.33%);
  background-color: rgba(14, 14, 14, 0.2);
  position: absolute;
  z-index: 100;
  width: 210px;
  height: 180px;
  top: -90px;
  left: -105px;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .box-blur {
    width: 360px;
    height: 300px;
    top: -150px;
    left: -180px;
  }
}

@media screen and (min-width: 1280px) {
  .box-blur {
    width: 480px;
    height: 400px;
    top: -200px;
    left: -240px;
  }
}

.logo {
  position: absolute;
  width: 60px;
  height: 30px;
  top: 115px;
  left: 120px;
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .logo {
    width: 100px;
    height: 49px;
    top: 190px;
    left: 200px;
  }
}

@media screen and (min-width: 1280px) {
  .logo {
    width: 136px;
    height: 67px;
    top: 240px;
    left: 280px;
  }
}

.title {
  width: calc((100% - 1 * 30px) / 1);
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  padding-top: 78px;
  margin-right: auto;
  margin-left: auto;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .title {
    width: calc(100% / 6 * 4);
    font-size: 30px;
    line-height: 1.23;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 50px;
    line-height: 1.22;
    width: calc(100% / 12 * 8);
  }
}

.team-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 2px;
  overflow: hidden;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
  background: #ff0dbf;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width 0.5s ease 0.5s, height 0.5s ease;
  transition: width 0.5s ease 0.5s, height 0.5s ease;
  z-index: 30;
}

.team-modal.is-open {
  height: 90%;
  width: 90%;
  -webkit-transition: width 0.5s ease, height 0.5s ease 0.5s;
  transition: width 0.5s ease, height 0.5s ease 0.5s;
}

.content {
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: transparent;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: 1px;
  height: 99.5%;
  padding: 25px;
  overflow: auto;
}

@media screen and (min-width: 1280px) {
  .content {
    overflow: hidden;
  }
}

@media screen and (max-height: 950px) {
  .content {
    overflow: auto;
  }
}

.content::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

.close:before, .close:after {
  position: absolute;
  content: '';
  width: 1.25rem;
  height: 0.125rem;
  background-color: white;
}

.close:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.close:hover:before, .close:hover:after {
  background-color: #ff0dbf;
}

figure {
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 1000ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

figure:hover,
figure:focus {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 4px -4px 12px 2px rgba(220, 86, 197, 0.5);
          box-shadow: 4px -4px 12px 2px rgba(220, 86, 197, 0.5);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 0.7px solid #ff0dbf;
}

.snip1344 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 15px;
  min-width: 230px;
  max-width: 315px;
  height: 337px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  line-height: 1.4em;
  background-color: #0e0e0e;
  border-radius: 40% 0px;
}

.snip1344 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1344 .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.2;
  -webkit-filter: grayscale(100%) blur(10px);
  filter: grayscale(100%) blur(10px);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.snip1344 figcaption {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}

.snip1344 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 120px;
  height: 120px;
  opacity: 1;
  -webkit-box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 4px solid rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.snip1344 h3 {
  margin: 0 0 5px;
  font-weight: 400;
}

.snip1344 h3 span {
  display: block;
  font-size: 0.8em;
  color: #f39c12;
  opacity: 0.75;
}

.snip1344 i {
  padding: 10px 5px;
  display: inline-block;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  opacity: 0.65;
}

.snip1344 a {
  text-decoration: none;
}

.snip1344 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1344:hover .background,
.snip1344.hover .background {
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
}
/*# sourceMappingURL=main.css.map */