{{#each this}}
<li class="list">
   <div class="card">
      <img class="card__img" src="{{this.images.[0].url}}" alt="" title="" width="180" />
      <div class="card__info">
         <p class="events__name"> {{this.name}} </p>
         <p class="events__date"> {{this.dates.start.localDate}} </p>
         <p class="events__location"> {{this.dates.timezone}} </p>
      </div>
   </div>
</li>
{{/each}}