{{#each this}}
<li class="events__item">
   <a href="" class="link events__link" target="_blank" rel="noreferrer noopener">
      <div class="events__image-wrap">
         <picture>
            <img src="{{ this.images.[3].url}}" alt="" title="" class="events__image" />
         </picture>
      </div>
      <div class="events__descr">
         <h3 class="events__name">{{this.name}}</h3>
         <p class="events__date">{{this.dates.start.localDate}}</p>
         <p class="events__location"> {{this._embedded.venues.[0].name}} </p>
      </div>
   </a>
</li>
{{/each}}