.hero-bg {
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 320px) {
    padding-top: 78px;
    height: 364px;
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
      url('../images/background-mobile/back-mobile.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
        url('../images/background-mobile/back-mobile@2x.jpg');
      background-size: cover;
    }
  }

  @media screen and (min-width: 321px) {
    padding-top: 78px;
    height: 364px;
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
      url('../images/background-tablet/back-tablet.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
        url('../images/background-tablet/back-tablet@2x.jpg');
      background-size: cover;
    }
  }

  @media screen and (min-width: 769px) {
    padding-top: 40px;
    height: 446px;
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
      url('../images/background-desktop/back-desktop.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
        url('../images/background-desktop/back-desktop@2x.jpg');
      background-size: cover;
    }
  }

  @media screen and (min-width: 1280px) {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
        url('../images/background-desktop/back-desktop@2x.jpg');
      background-size: contain;
    }
  }
}

/* LIGHT THEME*/

body.light-theme {
  background-color: #fae0f6;
  background-image: url(../images/body-element/noise-body.png);
  background-size: cover;
  background-position: center;

  & .hero-bg {
    background-image: linear-gradient(
        165deg,
        rgba(14, 14, 14, 1) 0%,
        rgba(14, 14, 14, 1) 18%,
        rgba(207, 36, 168, 0.4042661009716386) 72%,
        rgba(62, 62, 62, 1) 100%
      ),
      url('../images/background-mobile/back-mobile.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .hero-bg {
      background-image: linear-gradient(
          165deg,
          rgba(14, 14, 14, 1) 0%,
          rgba(14, 14, 14, 1) 18%,
          rgba(207, 36, 168, 0.4042661009716386) 72%,
          rgba(62, 62, 62, 1) 100%
        ),
        url('../images/background-mobile/back-mobile@2x.jpg');
    }
  }
  @media screen and (min-width: 768px) {
    .hero-bg {
      background-image: linear-gradient(
          165deg,
          rgba(14, 14, 14, 1) 0%,
          rgba(14, 14, 14, 1) 18%,
          rgba(207, 36, 168, 0.4042661009716386) 72%,
          rgba(62, 62, 62, 1) 100%
        ),
        url('../images/background-tablet/back-tablet.jpg');
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-bg {
      background-image: linear-gradient(
          165deg,
          rgba(14, 14, 14, 1) 0%,
          rgba(14, 14, 14, 1) 18%,
          rgba(207, 36, 168, 0.4042661009716386) 72%,
          rgba(62, 62, 62, 1) 100%
        ),
        url('../images/background-tablet/back-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 1280px) {
    .hero-bg {
      background-image: linear-gradient(
          165deg,
          rgba(14, 14, 14, 1) 0%,
          rgba(14, 14, 14, 1) 18%,
          rgba(207, 36, 168, 0.4042661009716386) 72%,
          rgba(62, 62, 62, 1) 100%
        ),
        url('../images/background-desktop/back-desktop.jpg');
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .hero-bg {
      background-image: linear-gradient(
          165deg,
          rgba(14, 14, 14, 1) 0%,
          rgba(14, 14, 14, 1) 18%,
          rgba(207, 36, 168, 0.4042661009716386) 72%,
          rgba(62, 62, 62, 1) 100%
        ),
        url('../images/background-desktop/back-desktop@2x.jpg');
    }
  }
}

.toolbar {
  position: absolute;
  z-index: 1;
  display: flex;
  right: 100px;
  top: 20px;
  padding: 16px 24px;
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.moon {
  position: absolute;
  background-color: none;
  color: rgb(255, 13, 191);
  right: -10px;
  z-index: 2;
  border-radius: 50%;
}

.sun {
  position: absolute;
  background-color: none;
  color: rgb(255, 13, 191);
  right: -85px;
  z-index: 2;
  border-radius: 50%;
}

.theme-switch__control {
  display: flex;
  right: -60px;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  width: 50px;
  height: 26px;
  border-radius: 25px;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #333;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}

.theme-switch__marker {
  position: relative;
  background-color: #dc56c5;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(3px);
  transition: transform 250ms;
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: rgba(51, 51, 51, 0.568);
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(26px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  box-shadow: 0 0 0 1px rgb(255, 13, 191);
}
