.hero-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/body-element/noise-body.png);

  @media screen and (max-width: 320px) {
    padding-top: 78px;
    height: 364px;
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
      url('../images/background-mobile/back-mobile.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
        url('../images/background-mobile/back-mobile@2x.jpg');
      background-size: cover;
    }
  }

  @media screen and (min-width: 321px) {
    padding-top: 78px;
    height: 364px;
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
      url('../images/background-tablet/back-tablet.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
        url('../images/background-tablet/back-tablet@2x.jpg');
      background-size: cover;
    }
  }

  @media screen and (min-width: 769px) {
    padding-top: 40px;
    height: 446px;
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
      url('../images/background-desktop/back-desktop.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
        url('../images/background-desktop/back-desktop@2x.jpg');
      background-size: cover;
    }
  }

  @media screen and (min-width: 1280px) {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
        url('../images/background-desktop/back-desktop@2x.jpg');
      background-size: contain;
    }
  }
}

/* LIGHT THEME*/

body.light-theme {
  background-color: #ecbbe6;
  background-image: url(../images/body-element/noise-body.png);
  background-size: cover;
  background-position: center;

  & .hero-bg {
    background-image: linear-gradient(
        165deg,
        rgba(14, 14, 14, 1) 0%,
        rgba(14, 14, 14, 1) 18%,
        rgba(207, 36, 168, 0.4042661009716386) 72%,
        rgba(62, 62, 62, 1) 100%
      ),
      url('../images/background-mobile/back-mobile.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .hero-bg {
      background-image: linear-gradient(
          165deg,
          rgba(14, 14, 14, 1) 0%,
          rgba(14, 14, 14, 1) 18%,
          rgba(207, 36, 168, 0.4042661009716386) 72%,
          rgba(62, 62, 62, 1) 100%
        ),
        url('../images/background-mobile/back-mobile@2x.jpg');
    }
  }
  @media screen and (min-width: 768px) {
    .hero-bg {
      background-image: linear-gradient(
          165deg,
          rgba(14, 14, 14, 1) 0%,
          rgba(14, 14, 14, 1) 18%,
          rgba(207, 36, 168, 0.4042661009716386) 72%,
          rgba(62, 62, 62, 1) 100%
        ),
        url('../images/background-tablet/back-tablet.jpg');
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-bg {
      background-image: linear-gradient(
          165deg,
          rgba(14, 14, 14, 1) 0%,
          rgba(14, 14, 14, 1) 18%,
          rgba(207, 36, 168, 0.4042661009716386) 72%,
          rgba(62, 62, 62, 1) 100%
        ),
        url('../images/background-tablet/back-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 1280px) {
    .hero-bg {
      background-image: linear-gradient(
          165deg,
          rgba(14, 14, 14, 1) 0%,
          rgba(14, 14, 14, 1) 18%,
          rgba(207, 36, 168, 0.4042661009716386) 72%,
          rgba(62, 62, 62, 1) 100%
        ),
        url('../images/background-desktop/back-desktop.jpg');
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .hero-bg {
      background-image: linear-gradient(
          165deg,
          rgba(14, 14, 14, 1) 0%,
          rgba(14, 14, 14, 1) 18%,
          rgba(207, 36, 168, 0.4042661009716386) 72%,
          rgba(62, 62, 62, 1) 100%
        ),
        url('../images/background-desktop/back-desktop@2x.jpg');
    }
  }

  & .scroll-up__svg-path {
    fill: transparent;
  }

  & .left-circle,
  & .right-circle {
    border: 1px solid #212121;
    background-color: rgba(209, 164, 209, 0.329);
    z-index: 10;

    &::before {
      background: linear-gradient(151.61deg, #d854c2 -7.48%, #d854c2 106.62%);
    }
  }

  & .footer-wrapper {
    &::after {
      background: linear-gradient(151.61deg, #d854c2 -7.48%, #d854c2 106.62%);
    }
  }

  & .footer-content {
    color: rgb(26, 2, 26);
  }

  & .btn-animate {
    &:hover {
      color: rgb(255, 13, 191);
      text-shadow: 3px 3px 5px rgba(207, 36, 167, 0.685);
    }
  }
}

.toolbar {
  position: absolute;
  z-index: 1;
  display: flex;
  right: 150px;
  top: 20px;
  padding: 16px 24px;

  @media screen and (max-width: 767px) {
    top: 5px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    top: 0px;
  }
}

/* THEME SWITCH */
.theme-switch {
  display: flex;
  align-items: center;
}

.moon {
  position: absolute;
  background-color: none;
  top: 5px;
  right: -56px;
  z-index: 8;
  border-radius: 50%;
}

.sun {
  position: absolute;
  background-color: none;
  right: -34px;
  z-index: 8;
  border-radius: 50%;
}

.material-icons {
  z-index: 4;
  font-size: 20px;
  color: white;
}

.theme-switch__control {
  z-index: 10;
  display: flex;
  right: -60px;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  width: 50px;
  height: 26px;
  border-radius: 25px;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
  z-index: 3;
}

.theme-switch__track {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.685);
  user-select: none;

  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
  border: 2px solid white;
  // box-shadow: 0 0 7px #e081d0;
}

.theme-switch__marker {
  position: relative;
  background-color: white;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  border: 2px solid rgba(51, 51, 51, 0.452);
  box-shadow: 0 1px 1px #333;
  transform: translateX(3px);
  transition: transform 250ms;
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: rgba(255, 255, 255, 0.582);
  // box-shadow: 0 0 5px #e081d0;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(26px);

  @media screen and (max-width: 767px) {
    transform: translateX(30px);
  }
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  // box-shadow: 0 0 0 1.5px #e081d0;
}

@media screen and (max-width: 767px) {
  .moon,
  .sun {
    display: none;
  }

  .theme-switch__track,
  .theme-switch__marker {
    left: 55px;
    top: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .moon,
  .sun {
    top: 13px;
  }

  .theme-switch__track,
  .theme-switch__marker {
    top: 8px;
  }
}
