.body {
  font-family: var(--main-font);
  background-color: #0e0e0e;

  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/background-desktop/background-img.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
