.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.search-event {
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.search-event::placeholder,
.select__current {
  color: var(--input-placeholder-text-color);
}

.select {
  width: 270px;
  height: 40px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);

  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px 30px;

  &.open {
    border-radius: 20px 20px 0 0;

    .select {
      &__body {
        display: block;
        border-radius: 0 0 20px 20px;
      }
    }
  }

  &__header {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  &__current {
    display: block;
  }

  &__body {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--input-bg-color);
    backdrop-filter: blur(20px);

    border: none;
    padding-top: 6px;
    text-align: left;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &:webkit-scrollbar-track {
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--input-placeholder-text-color);
      border-radius: 20px;
    }
  }

  &__list {
    backdrop-filter: blur(20px);
  }
  &__icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    width: 15px;
    height: 10px;
    text-align: center;
    margin: auto 0;

    &.open {
      background-image: url('../images/svg/open.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
    &.close {
      background-image: url('../images/svg/close.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__item {
    color: var(--input-text-color);
    margin-bottom: 2px;
    backdrop-filter: inherit;
    padding-left: 30px;

    &:hover,
    &.selected {
      background-color: var(--secondary-color);
      color: var(--main-text-color);
      transition: var(--transition-delay) background-color var(--transition-cube-function);
    }
  }
}
