.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.search-event {

  background-color: var(--input-bg-color);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px 30px;
  color: var(--input-text-color);

}

.search-event::placeholder,
.select__current {
  color: var(--input-placeholder-text-color);
}

.wrap {
  position: relative;
  margin-right: 30px;
}

.search-icon {
  position: absolute;
  top: 14px;
  right: 30px;
}

.select {
  width: 270px;
  position: relative;

  &.open {
    .select {
      &__body {
        display: block;
        border-radius: 0 0 20px 20px;
        overflow-y: auto;
      }

      &__header {
        border-radius: 20px 20px 0 0;
      }
    }
  }
  &__header {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: var(--input-bg-color);
    backdrop-filter: blur(20px);
    padding: 10px 30px;
    border-radius: 20px;
  }

  &__current {
    display: block;
    &.choose {
      color: var(--input-text-color);
    }
  }

  &__body {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 170px;

    border: none;
    padding: 7px 0;
    text-align: left;

    background-color: var(--input-bg-color);
    backdrop-filter: blur(20px);

    &::-webkit-scrollbar {
      width: 6px;
      display: block;
    }

    &:webkit-scrollbar-track {
    }

    &::-webkit-scrollbar-thumb {
      background: var(--input-placeholder-text-color);
      border-radius: 20px;
      width: 3px;
      height: 43px;
    }
  }

  &__icon {
    background-image: url('../images/svg/close.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 10px;
    margin: auto 0;

    &.open {
      transform: rotate(0.5turn);
    }
  }

  &__item {
    color: var(--input-text-color);
    margin-bottom: 2px;
    backdrop-filter: inherit;
    padding-left: 30px;

    &:hover,
    &.selected {
      background-color: var(--secondary-color);
      color: var(--main-text-color);
      transition: var(--transition-delay) background-color var(--transition-cube-function);
    }
  }
}
