@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

/* Main team-modal window */

.team-modal {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 0;
  height: 2px;

  overflow: hidden;

  background-color: rgba(32, 13, 29, 0.473);
  backdrop-filter: blur(15px);

  border-radius: 20px;
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);

  transform: translate(-50%, -50%);
  transition: width 0.5s ease 0.5s, height 0.5s ease;

  z-index: 3000;
}

// close-button in main team-modal window
.close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  transition: 0.25s linear;

  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 1.25rem;
    height: 0.125rem;
    background-color: white;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover {
    transform: rotate(90deg);

    &:before,
    &:after {
      background-color: rgb(255, 13, 191);
    }
  }
}

.team__title {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;

  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 28px;
  color: white;
  text-shadow: 2px 3px 2px rgba(238, 6, 199, 0.5);
}

.team-modal.is-open {
  height: 100%;
  width: 100%;
  transition: width 0.5s ease, height 0.5s ease 0.5s;
}

.team__content {
  display: flex;
  flex-direction: column;
  // position: fixed;
  // border: transparent;
  border: 0.3px solid rgb(255, 13, 191);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  // margin: 1px;
  height: 99.8%;
  // padding: 25px;

  overflow: auto;
}

.team__content::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}

.our-team {
  display: grid;
  justify-content: center;
  grid-row-gap: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) and (max-width: 400px) {
    grid-template-columns: repeat(1, 150px);
    grid-gap: 15px;
  }

  @media screen and (min-width: 401px) and (max-width: 949px) {
    grid-template-columns: repeat(4, 150px);
    grid-gap: 25px;
  }

  @media screen and (min-width: 950px) {
    grid-template-columns: repeat(5, 150px);
    grid-gap: 28px;
  }
}

// .our-team {
//   --space-between: 30px;
//   --grid-item-count: 1;

// @media screen and (min-width: 400px) and (max-width: 600px) {
//   --grid-item-count: 2;
// }

// @media screen and (min-width: 601px) and (max-width: 700px) {
//   --grid-item-count: 3;
// }

// @media screen and (min-width: 701px) and (max-width: 800px) {
//   --grid-item-count: 4;
// }
// @media screen and (min-width: 801px) and (max-width: 1280px) {
//   --grid-item-count: 5;
// }
// }

// .team__grid {
//   display: flex;
//   flex-wrap: wrap;
//   margin-left: calc(var(--space-between) * (-1));
//   margin-top: calc(var(--space-between) * (-1));
// }

// .team__grid-item {
//   width: calc((100% - var(--grid-item-count) * var(--space-between)) / var(--grid-item-count));
//   margin-left: var(--space-between);
//   margin-top: var(--space-between);
// }

// .our-team__item {
//   @media screen and (max-width: 767.98px) {
//     margin-bottom: 30px;
//     width: 100%;
//   }
// }

// .our-team__item {
//   @media screen and (min-width: 768px) {
//     &:first-child {
//       grid-column: 1 / 3;
//       justify-self: end;
//     }

//     &:nth-child(2) {
//       grid-column: 3 / 5;
//       justify-self: start;
//     }
//   }
// }

//team-modal (Little Snippets)

.team__card {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  // margin: 15px;
  // min-width: 250px;
  min-width: 155px;
  height: 250px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  line-height: 1.4em;

  // background-color: #141414;
  border: 1px solid rgb(255, 13, 191);
  border-radius: 40px 0 40px 0;
  background-color: rgba(255, 255, 255, 0);
  // box-shadow: 4px 4px 10px 1px rgba(220, 86, 198, 0.295);
  // background-color: #0e0e0e;
  // border-radius: 40% 0px;

  &:hover,
  &:focus {
    transform: scale(1.02);
    // box-shadow: 4px -2px 12px 2px rgba(220, 86, 197, 0.5);
    //   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    //     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    //   // border: 0.08px solid rgb(37, 37, 37);
  }
}

.team__card * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.team__card .background {
  width: 100%;
  vertical-align: top;
  opacity: 0.2;
  -webkit-filter: grayscale(50%) blur(10px);
  filter: grayscale(50%) blur(10px);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.team__card figcaption {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}

.profile {
  border-radius: 40% 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  object-fit: cover;
  width: 110px;
  height: 120px;
  box-shadow: 0px 3px 5px #e0a5d788;
  border: 3px solid rgba(255, 255, 255, 0.473);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.team__card h3 {
  margin: 0 0 5px;
  font-weight: 600;
}

.team__card h3 span {
  display: block;
  font-size: 0.8em;
  // color: rgba(255, 255, 255, 0.5);
  color: rgb(228, 60, 183);
}

.icons i {
  padding: 5px;
  display: inline-block;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  opacity: 0.5;

  &:hover {
    opacity: 1;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
}

.icons a {
  text-decoration: none;
}
